.slider-bg{
    background: #ffe2e7;
}
.btn-extra-bg{
    background:#FF589B;
}
.btn-extra-bg:hover{
    background:#FF589B;
}
.btn-color{
    color:#FFFFFF;
}
.sing-ctg{
   background: #FF589B; 
}
.add-btn{
    background: #FF589B;
    color:#FFFFFF;
}